@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.dashboard{
    width: 100%;
    height: auto; 
    margin: 0px auto;  
    display: flex;
    flex-direction: column; 
}

.icon_wpp{
    position: fixed;
    background-color: rgb(0, 196, 0);
    border-radius: 50px;
    width: 65px;
    height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 85%;
    left: 91%;
}


.titulo{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px;
    margin-bottom: 40px;
    padding: 10px 15px;
}

.dashboard_fonte p{
    color: rgb(124, 124, 124);
    font-family: "Gemunu Libre", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: left;
    margin-left: 20rem;
}

.dashboard_fonte {
    width: auto;
    height: auto;
}
.card-orcamento{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;   /*25*/
    height: 60px; /*20*/
    border: 0.5px solid rgb(128, 128, 128);
    border-radius: 5px;
    -webkit-box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    margin: 100px auto;
    cursor: pointer;
    background-color: #1B57A6;
    color: white;
}

.card-orcamento:hover{
    background-color: white;
    color: black;
    transition: 1s;
}

.bar{
    width: 200px;
    height: 1px;
    background-color: rgb(204, 204, 204);
    margin-left: 7.8rem;
    margin-bottom: 20px;
}

.barra{
    width: 40%;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.total{
    font-size: 26px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-weight: 300;
}


.subtitulo{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 26px;
    margin-top: 15px;
}

.subtitulo2{
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 26px;
    margin-top: 80px;
}

.problemas-carro{
    width: 80%;
    height: 10rem;
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problema-item{
    margin: 15px 0;
}

.problema-item input{
    margin: 0 20px;
}

.problema-item label{
    margin: 0 5px;
}

/*Estilização para a página de informações do carro*/

.modalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 2%;
}

.linha-input-3{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.linha-input-3 input{
  width: 20rem;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 5px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  margin: 0 auto;
}

.modalBody > h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.inputs{
  width: 100%;
  height: auto;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.linha-input-1{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.linha-input-1 input{
  width: 20rem;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 5px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  margin-left: 50px;
}


.btnAdd{
  width: 180px;
  text-align: center;
  height: 45px;
  background-color: #1B57A6;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  margin: 100px auto;
  border: none;
  border-radius: 5px;
}

.btnAdd:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}

/*Estilização da tela de perfil*/


.btnAdd2{
    width: 90px;
    text-align: center;
    height: 45px;
    background-color: #1B57A6;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.btnAdd2:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
    
}

.p-title-modal{
    font-family: "Gemunu Libre", sans-serif;
    font-size: 26px;
    letter-spacing: 1px;
    margin: 0;
}


.input-style{
    display: flex;
    flex-direction: column;
}

.input-style input{
    width: 20rem;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-family: "Gemunu Libre", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.card-car{
    width: 100%;
    height: 80px;
    background-color: #1B57A6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}


.card-car p{
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    margin-top: 20px;
    color: white;
}

.line-car{
  display: flex;
  justify-content: space-between;
}


.line-car p{
    font-family: "Gemunu Libre", sans-serif;
    font-size: 16px;
    color: black;
}


/*Estilização adm*/
.linha-input-2{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.linha-input-2 input{
  width: 25rem;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  padding-left: 5px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 20px;
  margin: 20px auto;
}

.linha-input-2 > select{
    width: 25rem;
    height: 2rem;
    margin: 20px auto;
    font-size: 1.1rem;
    border: none;
    border-bottom: solid 1px #000000;
    background-color: transparent;
    color: rgb(110, 109, 109);
    -webkit-appearance: none;
    background-image: url('../../assets/Polygon3.png');
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: 380px center;
    padding-left: 10px;
  }
  
  .linha-input-2 > select img{
    width: 10%;
    
}

  .lista{
    width: 80%;
    height: 6rem;
    background: #F0F0F0;
    -webkit-box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px auto;
    margin-top: 30px;
    margin-bottom: 60px;
    cursor: pointer;
  }

  .lista-1{
    width: 60%;
    height: 5rem;
    background: #F0F0F0;
    -webkit-box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    -moz-box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    box-shadow: -1px 7px 11px 2px rgba(0,0,0,0.31);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .lista p{
    font-family: "Gemunu Libre", sans-serif;
    font-size: 20px;
    margin: 20px auto;
  }

  
  .alertSucess{
    width: 400px;
    height: 50px;
    background-color: rgb(111, 243, 111);
    border-radius: 5px;
    border: 1px solid green;
    text-align: center;
  }

  .alerth3{
      padding: 15px 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(1, 83, 1);
  }

  .alertError{
    width: 400px;
    height: 50px;
    background-color: rgb(209, 49, 38);
    border-radius: 5px;
    border: 1px solid rgb(82, 1, 1);
    text-align: center;
  }

  .alerth3Error{
      padding: 15px 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: rgb(129, 4, 4);
  }

@media screen and (max-width: 768px){
    .dashboard_fonte p{
        width: 20rem;
        font-size: 14px;
        margin-left: 2%;
    }

    .icon_wpp{
        left: 83%;
    }

    .bar{
        margin-left: 6.2rem;
    }

    .linha-input-1 input{
        margin: 10px 2%;
    }

    .lista{
        width: 80%;
        height: auto;
        flex-direction: column;
    }

    .lista p{
        font-size: 16px;
       
      }

      .lista-1 h2{
       font-size: 28px;
    }
    
}









 